
P{COLOR:rgb(128, 0, 0)}

/* Who{What: how} */

h1{color: violet;}

li{color: rgb(34, 178, 132);}

ol{color: blueviolet;}

li{color: red;}

  border-radius: 30px;

  border-style: dotted;

ul{color: rgb(42, 165, 91);}

#header {
  color: rgb(0, 255, 34);
    text-align:center;
}